social-network/src/mybffbook/__pycache__/*
social-network/src/mybffbook/__pycache__/*pyc
social-network/src/mybffbook/__pycache__
social-network/src/posts/__pycache__
social-network/src/posts/__pycache__/*pyc
social-network/src/profiles/__pycache__
social-network/src/*/__pycache__
social-network/*/*/__pycache__
	social-network/src/profiles/__pycache__/*.pyc
.idea
social-network/.idea
.DS_Store
dj-restaurants/.DS_Store
